<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过渡样式</title>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="myText">{{myText}}
        <button @click="handleAll">添加</button>

        <ul>
            <li v-for="(data,index) in dataItem">{{data}}--{{index}}
                <button @click="handleDelete(index)">刪除</button></li>
        </ul>
    </div>

    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                dataItem: [111, 222],
                myText: []
            },
            methods: {
                handleAll() {
                    console.log( this.myText);
                    this.dataItem.push(this.myText)
                },
                handleDelete(index) {
                    this.dataItem.splice(index, 1);
                }
            },
        })
    </script>
</body>

</html>