<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>复习computed案例</title>
</head>
<div id="app">
    <input type="checkbox" v-model ='slected'>全选/非全选
    <br>
    <span v-for='item in CHECK_BOX'>
        <input type="checkbox" id="item.id | hanleID" :value="item.value" v-model='curBox'>
        <label for="item.id|hanleID" v-text='item.name'></label>
    </span>
</div>

<body>
    <script src="../lianxi/vue.js"></script>
    <script>
        let CHECK_BOX = [{
            id: 1,
            name: '跳舞',
            value: 'solny'
        }, {
            id: 1,
            name: '跳舞',
            value: 'read'
        }, {
            id: 1,
            name: '跳舞',
            value: 'sleep'
        }]
        //创建vue实例
        let app = new Vue({
            el: "#app",
            data: {
                CHECK_BOX,
                curBox: []
            },
            computed: {
                //存储选中选项
                slected: {
                    get() {
                        return this.curBox.length === this.CHECK_BOX.length;
                    },
                    set(value) {
                        if (value) {
                            this.CHECK_BOX.forEach(item => {
                               this.curBox.push(item.value);
                            });
                            return
                        }
                        this.curBox =[];
                    }
                }
            },
            filters:{
                hanleID(value){
                    return 'hoddy'+value;
                }
            }
        });
    </script>
</body>

</html>