<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>复习computed案例</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="slected">全选/非全选
        <br>
        <span v-for="item in hobbyList">
            <input type="checkbox" :id="item.id|handleID" :value="item.value" v-model="checkList">
            <label for="item.id|handleID" v-text="item.name"></label>
        </span>
    </div>
    <script src="../lianxi/vue.js"></script>
    <script>
        //创建vue实例
        let app = new Vue({
            el: '#app',
            //数据编写 hobbyList
            data: {
                hobbyList: [{
                    id: 1,
                    name: '唱歌',
                    value: 'song'
                }, {
                    id: 2,
                    name: '跳舞',
                    value: 'dance'
                }, {
                    id: 3,
                    name: '阅读',
                    value: 'read'
                }, {
                    id: 4,
                    name: '睡觉',
                    value: 'sleep'
                }],
                //存储选中选项
                checkList: [],
            },
            //computed  
            computed: {
                //slacted 选中状态
                slected: {
                    get() {
                        return this.checkList.length === this.hobbyList.length;
                    },
                    set(value) {
                        if (value) {
                            this.hobbyList.forEach(item => {
                                this.checkList.push(item.value);
                            });
                            return;
                        }
                        this.checkList = [];
                    }
                }
            },
            filters: {
                handleID(value) {
                    return "handle" + value;
                }
            }

        })


        //filters
        //handleID 添加id

    </script>
</body>

</html>