<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="isALL" @change=isAllSelect()>
        <ul>
            <li v-for="data in dataList">
                <input type="checkbox" :value=data v-model="shopping"  @change=isAllRadio()>
                {{data}}
                <button @click=handleNumber(data)>tep</button>
                {{data.number}}
                <button @click=data.number++>all</button>
            </li>
        </ul>
        {{shopping}}
        <p>已购金额：{{totals()}}</p>
    </div>
    <script src="./vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                shopping: [],
                isALL: false,
                dataList: [{
                    name: "商品1",
                    price: 10,
                    number: 1,
                    id: 1
                }, {
                    name: "商品2",
                    price: 20,
                    number: 2,
                    id: 2
                }, {
                    name: "商品3",
                    price: 30,
                    number: 3,
                    id: 3
                }]
            },

            methods: {
                totals() {
                    let sum = 0;
                    for (let i in this.shopping) {
                        sum += this.shopping[i].number * this.shopping[i].price;
                    }
                    return sum;
                },
                isAllSelect() {
                    if (this.isALL) {
                        this.shopping = this.dataList;
                    } else {
                        this.shopping = [];
                    }
                    console.log(this.isALL + "选中状态");
                },
                isAllRadio() {
                    console.log(this.shopping.length === this.dataList.length);
                    if (this.shopping.length === this.dataList.length) {
                        this.isALL = true;
                    } else {
                        this.isALL = false;
                    }
                },
                handleNumber(data) {
                    let n = data.number--;
                    if (n === 1) {
                        data.number = 1;
                    }
                }
            }
        })
    </script>
</body>

</html>